*.avi
*.mp4
*.pdf
*.eps
*.npz
*.dat
*.prof
*.so
*.hdf5
build/

# Python build artifacts
*.egg-info/
dist/
__pycache__/
*.py[cod]

# Things specific to this project #
###################################

